config SHIELD_TOTEM_MAX_LEFT
    def_bool $(shields_list_contains,totem_max_left)

config SHIELD_TOTEM_MAX_RIGHT
    def_bool $(shields_list_contains,totem_max_right)

config SHIELD_TOTEM_MAX_DONGLE
    def_bool $(shields_list_contains,totem_max_dongle)
