# Totem Max shield Kconfig definitions

if SHIELD_TOTEM_MAX

config ZMK_KEYBOARD_NAME
    string
    default "Totem_Max"

config ZMK_KEYBOARD_MFR
    string
    default "Cube_Studio"

endif

# Define missing ZMK v0.3 symbol needed by prospector battery_bar widget
config ZMK_SPLIT_BLE_PERIPHERAL_COUNT
    int "Number of BLE peripherals"
    default 1
