#include <physical_layouts.dtsi>

/ {
    totem_max_layout: totem_max_layout {
        compatible = "zmk,physical-layout";
        display-name = "Totem Max";

         keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  155 (-1000)   166   275>
            , <&key_physical_attrs 100 100  100  115 (-1000)   166   275>
            , <&key_physical_attrs 100 100  211   90  (-400)   241   275>
            , <&key_physical_attrs 100 100  316    0       0     0     0>
            , <&key_physical_attrs 100 100  416   50       0     0     0>
            , <&key_physical_attrs 100 100  516   75       0     0     0>
            , <&key_physical_attrs 100 100 1016   75       0     0     0>
            , <&key_physical_attrs 100 100 1116   50       0     0     0>
            , <&key_physical_attrs 100 100 1216    0       0     0     0>
            , <&key_physical_attrs 100 100 1321   50     400  1416   275>
            , <&key_physical_attrs 100 100 1431   90    1000  1491   275>
            , <&key_physical_attrs 100 100 1531   90    1000  1491   275>
            , <&key_physical_attrs 100 100    0  255 (-1000)   166   275>
            , <&key_physical_attrs 100 100  100  215 (-1000)   166   275>
            , <&key_physical_attrs 100 100  211  190  (-400)   241   275>
            , <&key_physical_attrs 100 100  316  100       0     0     0>
            , <&key_physical_attrs 100 100  416  150       0     0     0>
            , <&key_physical_attrs 100 100  516  175       0     0     0>
            , <&key_physical_attrs 100 100 1016  175       0     0     0>
            , <&key_physical_attrs 100 100 1116  150       0     0     0>
            , <&key_physical_attrs 100 100 1216  100       0     0     0>
            , <&key_physical_attrs 100 100 1321  150     400  1416   275>
            , <&key_physical_attrs 100 100 1431  190    1000  1491   275>
            , <&key_physical_attrs 100 100 1531  190    1000  1491   275>
            , <&key_physical_attrs 100 100    0  355 (-1000)   166   275>
            , <&key_physical_attrs 100 100  100  315 (-1000)   166   275>
            , <&key_physical_attrs 100 100  211  290  (-400)   241   275>
            , <&key_physical_attrs 100 100  316  200       0     0     0>
            , <&key_physical_attrs 100 100  416  250       0     0     0>
            , <&key_physical_attrs 100 100  516  275       0     0     0>
            , <&key_physical_attrs 100 100 1016  275       0     0     0>
            , <&key_physical_attrs 100 100 1116  250       0     0     0>
            , <&key_physical_attrs 100 100 1216  200       0     0     0>
            , <&key_physical_attrs 100 100 1321  250     400  1416   275>
            , <&key_physical_attrs 100 100 1431  290    1000  1491   275>
            , <&key_physical_attrs 100 100 1531  290    1000  1491   275>
            , <&key_physical_attrs 100 100    0  455 (-1000)   166   275>
            , <&key_physical_attrs 100 100  100  415 (-1000)   166   275>
            , <&key_physical_attrs 100 100  211  390  (-400)   241   275>
            , <&key_physical_attrs 100 100  316  300       0     0     0>
            , <&key_physical_attrs 100 100  416  350       0     0     0>
            , <&key_physical_attrs 100 100  516  375       0     0     0>
            , <&key_physical_attrs 100 100 1016  375       0     0     0>
            , <&key_physical_attrs 100 100 1116  350       0     0     0>
            , <&key_physical_attrs 100 100 1216  300       0     0     0>
            , <&key_physical_attrs 100 100 1321  350     400  1416   275>
            , <&key_physical_attrs 100 100 1431  390    1000  1491   275>
            , <&key_physical_attrs 100 100 1531  390    1000  1491   275>
            , <&key_physical_attrs 100 100  276  490       0     0     0>
            , <&key_physical_attrs 100 100  376  490       0     0     0>
            , <&key_physical_attrs 100 100  420  470    1500   366   760>
            , <&key_physical_attrs 100 100  460  440    3000   366   760>
            , <&key_physical_attrs 100 100 1070  440 (-3000)  1266   760>
            , <&key_physical_attrs 100 100 1110  470 (-1500)  1266   760>
            , <&key_physical_attrs 100 100 1156  490       0     0     0>
            , <&key_physical_attrs 100 100 1256  490       0     0     0>
            ;
    };
};
